* {
  box-sizing: border-box;
}
html {
    height: 100%;
    
}
body {
    font-family: "Roboto", sans-serif;
    size: 16px;
    color: #434455;
    background-color: #ffffff;
    
  }
  :root {
    --logo-color: #4d5ae5;
    --logo-span-color: #2e2f42;
    --list-color: #2e2f42;
    --link-color:  #434455;
    --section-color: #2e2f42;
    --name-color: #2e2f42;
    --text-color:  #434455;
    --background-color:  #2e2f42;
    --batton-background-color:  #F4F4FD;
    --footer-text-color: #F4F4FD;
    

}
.container {
   width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
    
}
.page-container {
	min-height: 100vh;
    display: flex;
  flex-direction: column;
}
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 156px;
    margin-right: 156px;
    padding-top: 24px;
}


ul {
    display: flex;
    gap: 40px;
}


.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
    
   
    
}
.color-web {
    color: var(--logo-span-color);
}

.list {
    list-style: none;
}
.nav-contact {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--list-color);
    text-decoration: none;
 
   
}

.nav-contact:hover,
.nav-contact:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    margin-left: auto;
}
.list-address {
    list-style: none;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--link-color);
    text-decoration: none;
   
}

.list-address:hover,
.list-address:focus {
    color: #404bbf;
}
.main {
    background-color: var(--background-color);
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    overflow: hidden;
}

.main h1 {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    display: flex;
width: 496px;
flex-direction: column;
flex-shrink: 0;
margin: 188px 472px 48px;
}
    

.main button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 635px 188px;
   


}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.list {
    list-style: none;
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--name-color);
}
.text {
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    
}
.photo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--name-color); 
}
.photo .list {
    list-style: none;
}
.group {
    background-color: #F4F4FD;

}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--name-color);

}
.list {
    list-style: none;
    
}
.comand {
    background-color: #FFFFFF;
}

.footer {
    background-color: var(--background-color);
   
   
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
}
.std-footer {
    color: #f4f4fd;
}
.text-footer {
    color: var(--footer-text-color); 
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.list {
    list-style: none;
}
.press {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--batton-background-color);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}
.press:hover,
.press:focus {
   color: #FFFFFF;
   background-color: #404BBF;
}
h1 {
    display: flex;
    justify-content: center;
}
.filters {
    display: flex;
    justify-content: center;
    margin: 96px 427px 42px;
    padding: 12px 24px;
    align-items: center;
    gap: 24px;
    text-align: center;
    
}

.image-list {
    text-decoration: none;
}
.list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--name-color);
    
}
.list-text {
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
   
}
.project-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.row1 {
    display: flex;
    margin: 72px 156px 48px;
    gap: 24px;
    
}
.row2 {
    display: flex;
    margin: 0px 156px 48px;
    gap: 24px;
    
}
.row3 {
    display: flex;
    margin: 0px 156px 120px;
    gap: 24px;
    
    
}
