* {
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    size: 16px;
    color: #434455;
    background-color: #ffffff;
    
  }
  :root {
    --logo-color: #4d5ae5;
    --logo-span-color: #2e2f42;
    --list-color: #2e2f42;
    --link-color:  #434455;
    --section-color: #2e2f42;
    --name-color: #2e2f42;
    --text-color:  #434455;
    --background-color:  #2e2f42;
    --batton-background-color:  #F4F4FD;
    --footer-text-color: #F4F4FD;
    --portf-button-color: 1px solid #e7e9fc;

}
img {
    display: block;
}

.head {
    border-bottom: 1px solid #e7e9fc;
    }
.head-container {
   width: 1158px;
   padding: 0 15px 0 15px;
   margin: 0 auto;
   display: flex; 
}
nav {
    display: flex;
    align-items: center;
}



.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
    margin-right: 76px; 
    }
.color-web {
    color: var(--logo-span-color);
}
.contacts {
    display: flex; 
    align-items: center;
}
.top-list {
    list-style: none;
    display: flex; 
    gap: 40px;
}
.nav-contact {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--list-color);
    text-decoration: none;
    padding: 24px 0;
   
}

.nav-contact:hover,
.nav-contact:focus {
    color: #404bbf;
}

.address {
    font-style: normal;
    
}
.adr-list {
    display: flex; 
    gap: 40px;
}
.list-address {
    list-style: none;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    color: var(--link-color);
    text-decoration: none;
   
   
}

.list-address:hover,
.list-address:focus {
    color: #404bbf;
}
.section1 {
    background-color: var(--background-color);
    padding: 188px 0;
    
}

.main-name {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 496px; 
   display: flex;
   text-align: center;
   flex-direction: column;
   margin: 188px 472px 48px;
}
    

.button {
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    justify-content: center;
    margin: 0 635px 188px;
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.section2 h2 {
    visibility: hidden;
}
.sect2-list {
    list-style: none;
    display: flex;
    gap: 24px;

}
.sect2-image {
    width: calc((100% - 48px) / 3);
}
.feature {
    width: calc((100% - 72px) / 4); 
}
.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--name-color);
    margin-bottom: 8px;
    text-align: center;
}
.name:not(last-child) {
    margin-right: 24px;
}
.text {
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    
}
.section3 {
    padding-bottom: 120px;
}
.sect3-list {
    list-style: none;
    display: flex;
    gap: 24px;
}
.photo {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--name-color); 
    margin-bottom: 72px;
}
.photo .list {
    list-style: none;
}
.section4 {
    background-color: #F4F4FD;
    padding: 120px 0;

}
.sect4-list {
    display: flex;
    gap: 24px;
}
.team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--name-color);
    margin-bottom: 72px; 

}

.comand {
    background-color: #FFFFFF;
    margin-right: 24px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
} 

.sect4-image {
    padding: 32px 16px;
}  
.footer {
    background-color: var(--background-color);
    padding: 100px 0;
   
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    text-decoration: none;
    display: inline-block; 
    margin-bottom: 16px; 
}
.std-footer {
    color: #f4f4fd;
}
.text-footer {
    color: var(--footer-text-color); 
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
}
.filters-list {
    list-style: none;
    display: flex;
    justify-content: center; 
    gap: 24px;
    margin-bottom: 72px;
}
.sect1-portf {
    padding-top: 96px; padding-bottom: 120px;
}
.portf-main-name {
    visibility: hidden;
}
.press {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--logo-color);
    background-color: var(--batton-background-color);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    padding: 12px 24px;
    border: var(--portf-button-color);
    border-radius: 4px;

}
.press:hover,
.press:focus {
   color: #FFFFFF;
   background-color: #404BBF;
   border: 1px solid transparent;
   
}

.filters {
    display: flex;
    justify-content: center;
    margin: 96px 427px 42px;
    padding: 12px 24px;
    align-items: center;
    gap: 24px;
    text-align: center;
    
}

.image-list {
    text-decoration: none;
    
}
.list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--name-color);
    margin-bottom: 8px;
    
}
.list-text {
    letter-spacing: 0.02em;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
   
}
.project-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.row1 {
    width: calc((100% - 48px) / 3); 
    
}
.project-card-list {
    padding: 32px 16px;
    border: 1px solid #e7e9fc; 
    border-top: none; 
}